body{
    font-family: 'Poppins';
    background-image: url('hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.linames{
    list-style-type: none;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#3a5a40;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
#list-items{
    display: flex;
    justify-content: space-evenly;
    margin-left:100px ;
  
}
#button1{
    margin-top: 13px;
    font-family: 'Poppins';
    font-size:large;
    border:1px solid black;
    background-color: transparent;
    border-radius: 10%;
    margin-left: 450px;
}
#button1:hover{
    color:white;
    background-color: black;
}
#statement{
    font-size: xx-large;
    font-weight: bold;
}
#divsize{
    margin-left: 20px;
    width:50%;
}
.shop-now{
    font-family: 'Poppins';
    font-size:large;
    border:1px solid black;
    background-color: transparent;
    border-radius: 5%;
}
.shop-now:hover{
    color:white;
    background-color: black;

}
.box{
    display: flex;
    margin-top: 100px;
    height: 300px;
    border-radius:5% ;
    width:45%;
    justify-content: space-evenly;
    background-color:#fefae0  ;
   
   
}
.box11{
  
    border-radius: 20%;
    background-image: url('box1.jpg');
    background-size: cover;
    height: 200px;
    width:200px;
    margin:45px 20px 20px 20px;
    
}
.box22{
  
    border-radius: 20%;
    background-image: url('box2.jpg');
    background-size: cover;
    height: 200px;
    width:200px;
    margin:45px 20px 20px 20px;
    
}
.box33{
  
    border-radius: 20%;
    background-image: url('box3.jpg');
    background-size: cover;
    height: 200px;
    width:200px;
    margin:45px 20px 20px 20px;
    
}
.box44{
  
    border-radius: 20%;
    background-image: url('box4.jpg');
    background-size: cover;
    height: 200px;
    width:200px;
    margin:45px 20px 20px 20px;
    
}
.p1{
   font-weight: bold;
   margin: 60px 0px 0px 80px;
}
.footpanel1{
    display: flex;
    justify-content: space-evenly;
    height : 280px;
    background-color:#a3b18a ;
    margin-top: 15px;
}
li{
    list-style-type: none;

}
.footerhead{
    font-weight:bold ;
}
.footerhead:hover{
    color: white;
}
.footpanel2{
  background-color: #3a5a40;
  color:#fefae0 ;
  height:60px;
  margin-top: 5px;
  text-align: center;
}
.pages a{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fefae0 ;
}